{
  "__TOP_LEVEL_ORGANIZATION_ID__" : {
    "docCount" : 8,
    "dispute" : {
      "docCount" : 0
    },
    "points" : {
      "docCount" : 6,
      "total" : {
        "value" : __TOP_LEVEL_ORGANIZATION_POINTS__
      }
    },
    "status" : {
      "Approved" : {
        "docCount" : 2
      },
      "New" : {
        "docCount" : 2
      },
      "Pending" : {
        "docCount" : 2
      },
      "Rejected" : {
        "docCount" : 2
      }
    }
  },
  "__SUB_ORGANIZATION_ID" : {
    "docCount" : 4,
    "dispute" : {
      "docCount" : 0
    },
    "points" : {
      "docCount" : 3,
      "total" : {
        "value" : __SUB_ORGANIZATION_POINTS
      }
    },
    "status" : {
      "Approved" : {
        "docCount" : 1
      },
      "New" : {
        "docCount" : 1
      },
      "Pending" : {
        "docCount" : 1
      },
      "Rejected" : {
        "docCount" : 1
      }
    }
  }
}