openapi: 3.0.3
info:
  title: NVA Scientific Index API
  version: 1.0.1
  description: Public API for scientific index candidates in NVA.
  contact:
    email: kontakt@sikt.no
    url: https://nva.sikt.no
servers:
  - url: https://api.nva.unit.no/scientific-index
    description: Production API
x-amazon-apigateway-request-validators:
  validate_body:
    validateRequestBody: true
    validateRequestParameters: false
tags:
  - name: Context
    description: JSON-LD context operations
  - name: Period
    description: NVI reporting period management
  - name: Candidate
    description: NVI candidate operations
  - name: Report
    description: Institution reports and aggregations

x-authenticated-security: &authenticated
  - CognitoUserPool:
      - "https://api.nva.unit.no/scopes/backend"
      - "https://api.nva.unit.no/scopes/frontend"

paths:
  /context:
    get:
      tags:
        - Context
      description: Get JSON-LD context for NVI
      summary: Get JSON-LD context
      operationId: getNviContext
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FetchNviCandidateContextHandler.Arn}:live/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NviCandidateContext"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/NviCandidateContext"
        "415":
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  /period:
    post:
      tags:
        - Period
      description: Create NVI period
      summary: Create period
      operationId: createNviPeriod
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NviPeriod"
      security: *authenticated
      x-amazon-apigateway-request-validator: validate_body
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${CreateNviPeriodHandler.Arn}:live/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "201":
          description: "Period created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NviPeriod"
        "400":
          description: "Bad request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "409":
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
    get:
      tags:
        - Period
      description: List NVI periods
      summary: List periods
      operationId: listNviPeriods
      security: *authenticated
      x-amazon-apigateway-request-validator: validate_body
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FetchNviPeriodsHandler.Arn}:live/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: "Periods fetched"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NviPeriods"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
    put:
      tags:
        - Period
      description: Update NVI period
      summary: Update period
      operationId: updateNviPeriod
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NviPeriod"
      security: *authenticated
      x-amazon-apigateway-request-validator: validate_body
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${UpdateNviPeriodHandler.Arn}:live/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: "Period updated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NviPeriod"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "404":
          description: "Not found - period to update does not exist"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "409":
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"

  /period/{periodIdentifier}:
    get:
      tags:
        - Period
      description: Get NVI period
      summary: Get period
      operationId: getNviPeriod
      parameters:
        - in: path
          name: periodIdentifier
          description: The identifier of the reporting period
          required: true
          schema:
            type: string
      x-amazon-apigateway-request-validator: validate_body
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FetchNviPeriodHandler.Arn}:live/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: "Period fetched successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NviPeriod"
        "404":
          description: "Period not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "502":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"

  /candidate:
    get:
      tags:
        - Candidate
      description: Search for NVI candidates
      summary: Search for candidates
      operationId: searchNviCandidate
      parameters:
        - in: query
          name: query
          schema:
            type: string
          description: Term to search for in NVI candidates
        - in: query
          name: affiliations
          description: |
            Filters by affiliation to one of the given organization IDs. By default, this includes 
            candidates where a creator is affiliated with a sub-unit of the organization specified.
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
          examples:
            single:
              summary: Single affiliation
              value: ["20754.1.0.0"]
            multiple:
              summary: One of multiple affiliations
              value: ["20754.1.0.0", "20754.2.2.0"]
        - in: query
          name: excludeSubUnits
          description: |
            Excludes sub-units when checking affiliations. Must be combined with the `affiliations`
            parameter.
          required: false
          schema:
            type: boolean
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
            minimum: 0
          description: The offset of the search for use in pagination. Must be divisible by the size.
        - in: query
          name: size
          schema:
            type: integer
            default: 10
          description: The size of each page of the search for use in pagination. Default is 10.
        - in: query
          name: status
          description: Filter by approval status for the user's organization that matches one of the given values.
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
              enum: [pending, approved, rejected]
          examples:
            single:
              summary: Single approval status
              value: ["pending"]
            multiple:
              summary: One of multiple statuses
              value: ["pending", "approved"]
        - in: query
          name: globalStatus
          description: Filter by global approval status that matches one of the given values.
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
              enum: [pending, approved, rejected, dispute]
          examples:
            single:
              summary: Single global status
              value: ["dispute"]
            multiple:
              summary: One of multiple global statuses
              value: ["dispute", "rejected"]
        - in: query
          name: filter
          description: |
            Apply a custom filter:
            * `rejectedByOthers` - Show candidates rejected by other organizations
            * `approvedByOthers` - Show candidates approved by other organizations
            * `collaboration` - Show candidates with multiple NVI organizations involved

            DEPRECATED - These filters are marked for deprecation and will be removed:
            * `pending`
            * `pendingCollaboration`
            * `assigned`
            * `assignedCollaboration`
            * `approved`
            * `approvedCollaboration`
            * `rejected`
            * `rejectedCollaboration`
            * `dispute`
            * `assignments`
          required: false
          schema:
            type: string
            enum:
              - rejectedByOthers
              - approvedByOthers
              - collaboration
              - pending
              - pendingCollaboration
              - assigned
              - assignedCollaboration
              - approved
              - approvedCollaboration
              - rejected
              - rejectedCollaboration
              - dispute
              - assignments
          example: "rejectedByOthers"
        - in: query
          name: year
          schema:
            type: string
            pattern: "^[0-9]{4}$"
          description: Filters by publication year
        - in: query
          name: category
          schema:
            type: string
          description: No longer in use and will be removed.
          deprecated: true
        - in: query
          name: title
          schema:
            type: string
          description: Filters by publication title
        - in: query
          name: assignee
          schema:
            type: string
          description: |
            Filters by ID of the assigned curator for an organization. By default, candidates with
            no assigned curator are also included.
            Expected format is `<user_id>@<organization_id>`.
          example: "12345@20754.0.0.0"
        - in: query
          name: excludeUnassigned
          description: Exclude candidates that have no assigned curator
          required: false
          schema:
            type: boolean
        - in: query
          name: orderBy
          schema:
            type: string
            description: Order by field
            enum: ["createdDate"]
        - in: query
          name: sortOrder
          schema:
            type: string
            description: Order direction
            enum: ["asc", "desc"]
      security: *authenticated
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${SearchNviCandidatesHandler.Arn}:live/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CandidateSearchResponse"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  /candidate/{candidateIdentifier}:
    get:
      tags:
        - Candidate
      description: Get NVI candidate
      summary: Get candidate
      operationId: getNviCandidate
      parameters:
        - in: path
          name: candidateIdentifier
          description: The identifier of the candidate
          required: true
          schema:
            type: string
      security: *authenticated
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FetchNviCandidateHandler.Arn}:live/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NviCandidateResponse"
        "404":
          description: "Candidate not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  /candidate/publication/{candidatePublicationId}:
    get:
      tags:
        - Candidate
      description: Get NVI candidate by publication identifier
      summary: Get candidate by publication identifier
      operationId: getNviCandidateByPublicationIdentifier
      parameters:
        - in: path
          name: candidatePublicationId
          description: The publication identifier the candidate, this must be URI UTF-8 encoded
          required: true
          schema:
            type: string
      security: *authenticated
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FetchNviCandidateByPublicationIdHandler.Arn}:live/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NviCandidateResponse"
        "404":
          description: "Candidate not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  /candidate/{candidateIdentifier}/status:
    put:
      tags:
        - Candidate
      description: Update Candidate Approval Status
      summary: Update Candidate Approval Status
      operationId: updateNviCandidateApprovalStatus
      parameters:
        - in: path
          name: candidateIdentifier
          description: The identifier of the candidate
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApprovalStatusRequest"
      security: *authenticated
      x-amazon-apigateway-request-validator: validate_body
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${UpdateNviCandidateStatusHandler.Arn}:live/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: "Approval status updated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NviCandidateResponse"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "404":
          description: "Not found - approval to update does not exist"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "409":
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  /candidate/{candidateIdentifier}/assignee:
    put:
      tags:
        - Candidate
      description: Update Candidate Assignee
      summary: Update Candidate Assignee
      operationId: updateNviCandidateAssignee
      parameters:
        - in: path
          name: candidateIdentifier
          description: The identifier of the candidate
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssigneeRequest"
      security: *authenticated
      x-amazon-apigateway-request-validator: validate_body
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${UpsertAssigneeHandler.Arn}:live/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: "Assignee updated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NviCandidateResponse"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "404":
          description: "Not found - candidate to update does not exist"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "409":
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  /candidate/{candidateIdentifier}/note:
    post:
      tags:
        - Candidate
      description: Create note on NVI candidate
      summary: Create note on candidate
      operationId: createNviCandidateNotes
      parameters:
        - in: path
          name: candidateIdentifier
          description: The identifier of the candidate
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNoteRequest"
      security: *authenticated
      x-amazon-apigateway-request-validator: validate_body
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${CreateNoteHandler.Arn}:live/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: "Note added"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NviCandidateResponse"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "404":
          description: "Not found - candidate to update does not exist"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "409":
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  /candidate/{candidateIdentifier}/note/{noteIdentifier}:
    delete:
      tags:
        - Candidate
      description: Delete note on NVI candidate
      summary: Delete note
      operationId: deleteNviCandidateNote
      parameters:
        - in: path
          name: candidateIdentifier
          description: The identifier of the candidate
          required: true
          schema:
            type: string
        - in: path
          name: noteIdentifier
          description: The identifier of the note
          required: true
          schema:
            type: string
      security: *authenticated
      x-amazon-apigateway-request-validator: validate_body
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${RemoveNoteHandler.Arn}:live/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: "Note deleted"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NviCandidateResponse"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "404":
          description: "Not found - candidate to update does not exist"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  /institution-report/{year}:
    get:
      tags:
        - Report
      description: Get organization approval aggregations for a given year
      summary: Get requesting users organization approval aggregations for a given year
      operationId: getNviOrganizationAggregationsByYear
      parameters:
        - in: path
          name: year
          description: The year of the nvi period
          required: true
          schema:
            type: string
      security: *authenticated
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FetchInstitutionStatusAggregationHandler.Arn}:live/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NviInstitutionReportResponse"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  /institution-approval-report/{year}:
    get:
      tags:
        - Report
      description: Get NVI report for a given year
      summary: Get requesting users top level organizations NVI report for given year
      operationId: getNviReportByYear
      parameters:
        - in: path
          name: year
          description: The year of the nvi period
          required: true
          schema:
            type: string
      security: *authenticated
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FetchInstitutionReportHandler.Arn}:live/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: "OK"
          content:
            application/vnd.ms-excel:
              schema:
                format: binary
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                format: binary
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  /publication/{publicationId}/report-status:
    get:
      tags:
        - Report
      description: Get report status by publication id
      summary: Get report status by publication id
      operationId: getReportStatusByPublicationId
      parameters:
        - in: path
          name: publicationId
          description: A UTF-8 encoded URI (publicationId)
          required: true
          schema:
            type: string
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FetchReportStatusByPublicationIdHandler.Arn}:live/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportStatus"
              example:
                {
                  "publicationId": "https://api.nva.no/publication/123",
                  "reportStatus":
                    {
                      "status": "PENDING_REVIEW",
                      "description": "Pending review. Awaiting approval from all institutions",
                    },
                  "period": "2023",
                }
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  /report:
    get:
      tags:
        - Report
      description: Get report for all periods
      operationId: getPeriodsReport
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FetchReportHandler.Arn}:live/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllPeriodsReportResponse"
              examples:
                allPeriods:
                  summary: List of all available periods
                  value:
                    type: "AllPeriodsReport"
                    id: "https://api.nva.unit.no/scientific-index/report"
                    periods:
                      - "2023"
                      - "2024"
                      - "2025"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"

  /report/{period}:
    get:
      tags:
        - Report
      description: Get all institutions report for a given period
      operationId: getAllInstitutionsReport
      parameters:
        - in: path
          name: period
          description: The reporting period (year)
          required: true
          schema:
            type: string
            pattern: '^\d{4}$'
          example: "2025"
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FetchReportHandler.Arn}:live/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllInstitutionsReportResponse"
              examples:
                allInstitutions:
                  summary: Report for all institutions
                  value:
                    type: "AllInstitutionsReport"
                    id: "https://api.nva.unit.no/scientific-index/report/2025"
                    period: "2025"
                    institutions:
                      - type: "InstitutionReport"
                        id: "https://api.nva.unit.no/cristin/organization/1.0.0.0"
                        name: "Universitetet i Oslo"
                        sector: "UHI"
                        candidateCount: 312
                        totalPoints: 67.5
                        reportingStatus:
                          type: "ReportingStatus"
                          dispute: 8
                          pending: 234
                          rejected: 18
                          approved: 52
                        publicationPointStatus:
                          type: "PublicationPointStatus"
                          new: 78
                          pending: 156
                          approved: 52
                          rejected: 26
                      - type: "InstitutionReport"
                        id: "https://api.nva.unit.no/cristin/organization/2.0.0.0"
                        name: "Norges teknisk-naturvitenskapelige universitet"
                        sector: "UHI"
                        candidateCount: 245
                        totalPoints: 52.34
                        reportingStatus:
                          type: "ReportingStatus"
                          dispute: 5
                          pending: 180
                          rejected: 12
                          approved: 48
                        publicationPointStatus:
                          type: "PublicationPointStatus"
                          new: 61
                          pending: 122
                          approved: 48
                          rejected: 14
        "400":
          description: "Bad Request - Invalid period format"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"

  /report/{period}/{institution}:
    get:
      tags:
        - Report
      description: Get institution report for a given period
      operationId: getInstitutionReport
      parameters:
        - in: path
          name: period
          description: The reporting period (year)
          required: true
          schema:
            type: string
            pattern: '^\d{4}$'
          example: "2025"
        - in: path
          name: institution
          description: The institution identifier
          required: true
          schema:
            type: string
            pattern: '^\d+\.\d+\.\d+\.\d+$'
          example: "1.0.0.0"
        - in: query
          name: includeSubunits
          description: Include subunits in the report
          required: false
          schema:
            type: boolean
            default: false
          example: true
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FetchReportHandler.Arn}:live/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstitutionReportResponse"
              examples:
                institutionReport:
                  summary: Institution report with subunits
                  value:
                    type: "InstitutionReport"
                    id: "https://api.nva.unit.no/scientific-index/report/2025/1.0.0.0"
                    period: "2025"
                    institution: "https://api.nva.unit.no/cristin/organization/1.0.0.0"
                    summary:
                      candidateCount: 20
                      totalPoints: 31.1234
                      reportingStatus:
                        type: "ReportingStatus"
                        dispute: 2
                        pending: 10
                        rejected: 4
                        approved: 4
                      publicationPointStatus:
                        type: "PublicationPointStatus"
                        new: 5
                        pending: 5
                        approved: 5
                        rejected: 5
                    units:
                      - type: "UnitReport"
                        id: "https://api.nva.unit.no/cristin/organization/1.1.0.0"
                        candidateCount: 16
                        totalPoints: 27.3953
                        reportingStatus:
                          type: "ReportingStatus"
                          dispute: 2
                          pending: 8
                          rejected: 3
                          approved: 3
                        publicationPointStatus:
                          type: "PublicationPointStatus"
                          new: 4
                          pending: 4
                          approved: 4
                          rejected: 4
                      - type: "UnitReport"
                        id: "https://api.nva.unit.no/cristin/organization/1.2.0.0"
                        candidateCount: 4
                        totalPoints: 3.7281
                        reportingStatus:
                          type: "ReportingStatus"
                          dispute: 0
                          pending: 2
                          rejected: 1
                          approved: 1
                        publicationPointStatus:
                          type: "PublicationPointStatus"
                          new: 1
                          pending: 1
                          approved: 1
                          rejected: 1
        "400":
          description: "Bad Request - Invalid period or institution format"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "404":
          description: "Not Found - Institution not found for period"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"

components:
  schemas:
    NviPeriod:
      type: object
      properties:
        publishingYear:
          type: string
        reportingDate:
          type: string
        startDate:
          type: string
      required:
        - publishingYear
        - reportingDate
        - startDate
    NviPeriods:
      type: array
      items:
        $ref: "#/components/schemas/NviPeriod"
    ReportStatus:
      type: object
      properties:
        publicationId:
          $ref: "#/components/schemas/Id"
        reportStatus:
          type: object
          properties:
            status:
              type: string
              enum:
                - NOT_CANDIDATE
                - REPORTED
                - PENDING_REVIEW
                - UNDER_REVIEW
                - NOT_REPORTED
            description:
              type: string
              description: The description of the report status
        period:
          type: string
          description: The nvi period in which the publication was published
    CandidateSearchResponse:
      type: object
      properties:
        "@context":
          $ref: "#/components/schemas/Context"
        id:
          $ref: "#/components/schemas/Id"
        totalHits:
          type: integer
        nextResults:
          type: string
          nullable: true
          description: The uri to the next page of results, if there is one
        previousResults:
          type: string
          nullable: true
          description: The uri to the previous page of results, if there is one
        hits:
          type: array
          items:
            $ref: "#/components/schemas/CandidateIndexDocument"
    CandidateIndexDocument:
      type: object
      properties:
        identifier:
          type: string
        publicationDetails:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            title:
              type: string
            publicationDate:
              type: object
              properties:
                year:
                  type: string
                month:
                  type: string
                day:
                  type: string
            contributors:
              type: array
              items:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  affiliations:
                    type: array
                    items:
                      type: string
        approvals:
          type: array
          items:
            properties:
              id:
                type: string
              labels:
                type: object
              approvalStatus:
                type: string

    NviCandidateResponse:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Id"
        publicationId:
          $ref: "#/components/schemas/Id"
        approvalStatus:
          type: array
          items:
            $ref: "#/components/schemas/ApprovalStatus"
        points:
          type: array
          items:
            $ref: "#/components/schemas/InstitutionPoints"
        notes:
          type: array
          items:
            $ref: "#/components/schemas/Note"
        periodStatus:
          type: object
          properties:
            status:
              type: string
              enum:
                - OpenPeriod
                - ClosedPeriod
                - NoPeriod
            reportingDate:
              type: string
            startDate:
              type: string
        allowedOperations:
          type: array
          description: >
            List of operations that the user is allowed to perform on the candidate.
            The operations are based on the approval status of the candidate and the user's role.
            This is a work in progress and does not include all possible operations yet.
          items:
            type: string
            enum:
              - "approval/reject-candidate"
              - "approval/approve-candidate"
              - "approval/reset-approval"
              - "note/create-note"
        problems:
          type: array
          description: >
            List of problems that may impact available operations on the Candidate.
            These can indicate something that blocks one or all organizations from approving the
            candidate, or other candidate-specific errors.
            This is a work in progress and does not include all possible problems yet.
          items:
            $ref: "#/components/schemas/CandidateProblem"

    NviInstitutionReportResponse:
      type: object
      description: >
        Status report for a top-level organization for a given year.
        Approvals and points are aggregated by organizational unit based on directly affiliated creators.
      required:
        - year
        - topLevelOrganizationId
        - totals
        - byOrganization
      properties:
        year:
          type: string
          description: The NVI reporting period year
          example: "2025"
        topLevelOrganizationId:
          type: string
          format: uri
          description: URI of the top-level organization
          example: "https://api.nva.unit.no/cristin/organization/123.0.0.0"
        totals:
          $ref: "#/components/schemas/TopLevelAggregation"
        byOrganization:
          type: object
          description: Aggregated status for each organization, keyed by organization URI
          additionalProperties:
            $ref: "#/components/schemas/DirectAffiliationAggregation"
          example:
            "https://api.nva.unit.no/cristin/organization/123.0.0.0":
              type: DirectAffiliationAggregation
              candidateCount: 16
              points: 27.3953
              globalApprovalStatus:
                Dispute: 2
                Pending: 8
                Rejected: 3
                Approved: 3
              approvalStatus:
                New: 4
                Pending: 4
                Approved: 4
                Rejected: 4
            "https://api.nva.unit.no/cristin/organization/123.456.0.0":
              type: DirectAffiliationAggregation
              candidateCount: 4
              points: 1.2345
              globalApprovalStatus:
                Dispute: 0
                Pending: 2
                Rejected: 1
                Approved: 1
              approvalStatus:
                New: 1
                Pending: 1
                Approved: 1
                Rejected: 1

    OrganizationStatusAggregationBase:
      type: object
      description: Base schema for organization status aggregations
      required:
        - candidateCount
        - points
        - globalApprovalStatus
        - approvalStatus
      properties:
        candidateCount:
          type: integer
          description: Number of NVI candidates
          example: 20
        points:
          type: number
          description: Total NVI points from creators
          example: 31.1234
        globalApprovalStatus:
          $ref: "#/components/schemas/GlobalApprovalStatusCounts"
        approvalStatus:
          $ref: "#/components/schemas/ApprovalStatusCounts"

    TopLevelAggregation:
      description: >
        Aggregation representing totals for a top-level organization.
        Includes transitive points from all sub-organizations.
      allOf:
        - $ref: "#/components/schemas/OrganizationStatusAggregationBase"
        - type: object
          required:
            - type
          properties:
            type:
              type: string
              enum: [TopLevelAggregation]
              example: TopLevelAggregation

    DirectAffiliationAggregation:
      description: >
        Aggregation based on direct creator affiliations to a specific organization.
        Points are calculated only from creators directly affiliated with this organization.
      allOf:
        - $ref: "#/components/schemas/OrganizationStatusAggregationBase"
        - type: object
          required:
            - type
          properties:
            type:
              type: string
              enum: [DirectAffiliationAggregation]
              example: DirectAffiliationAggregation

    GlobalApprovalStatusCounts:
      type: object
      description: Count of candidates by global approval status
      required:
        - Dispute
        - Pending
        - Rejected
        - Approved
      properties:
        Dispute:
          type: integer
        Pending:
          type: integer
        Rejected:
          type: integer
        Approved:
          type: integer
    ApprovalStatusCounts:
      type: object
      description: Count of candidates by approval status
      required:
        - New
        - Pending
        - Approved
        - Rejected
      properties:
        New:
          type: integer
        Pending:
          type: integer
        Approved:
          type: integer
        Rejected:
          type: integer
    ApprovalStatus:
      type: object
      properties:
        institutionId:
          $ref: "#/components/schemas/Id"
        status:
          type: string
          enum: ["Approved", "Pending", "Rejected"]
        finalizedBy:
          $ref: "#/components/schemas/Username"
        finalizedDate:
          type: string
    Note:
      type: object
      properties:
        user:
          $ref: "#/components/schemas/Username"
        text:
          type: string
        createdDate:
          type: string
    Username:
      type: object
      properties:
        value:
          type: string
    Context:
      type: string
      pattern: 'https:\/\/.*$'
      description: The JSON-LD context object for the data, which describes the object in the data and allows machine processing of the data at a semantic level
    Id:
      type: string
      pattern: 'https:\/\/.*$'
      description: The URI of the object ID
    CandidateProblem:
      type: object
      description: An issue with the candidate that may impact available operations for the user.
      required:
        - title
        - scope
        - detail
      properties:
        type:
          type: string
          description: Identifier for the issue type.
        title:
          type: string
          description: Human-readable title of the issue.
        scope:
          type: string
          description: >
            The scope of the issue, indicating whether it is a general issue ("Global") or only 
            affects the organization of the current user.
          enum: ["Organization", "Global"]
        detail:
          type: string
          description: Additional details about the issue and potential solutions.
        contributors:
          type: array
          items:
            type: string
          description: List of contributors that cause or are affected by the issue, if relevant.
    Problem:
      type: object
      description: NVA error reporting object
      required:
        - title
        - detail
        - status
      properties:
        title:
          type: string
          description: Human-readable description of the error status
        detail:
          type: string
          description: A more detailed error message describing the error and potential mitigations
        status:
          type: integer
          description: The HTTP status code associated with the problem
        requestId:
          type: string
          description: Identifier of the request causing the problem
        instance:
          type: string
          description: The requested path associated with the error
        type:
          type: string
          description: A URI describing the error and mitigations, in generic cases, this is about:blank
    InstitutionPoints:
      type: object
      properties:
        institutionId:
          $ref: "#/components/schemas/Id"
        points:
          type: number
    ApprovalStatusRequest:
      type: object
      properties:
        institutionId:
          $ref: "#/components/schemas/Id"
        status:
          type: string
          enum: ["Approved", "Pending", "Rejected"]
        reason:
          type: string
          maxLength: 500
          description: Required if status is updated to Rejected. Reason for rejection.
      required:
        - status
    AssigneeRequest:
      type: object
      properties:
        institutionId:
          $ref: "#/components/schemas/Id"
        assignee:
          type: string
      required:
        - institutionId
        - assignee
    CreateNoteRequest:
      type: object
      properties:
        text:
          type: string
    NviCandidateContext:
      type: object
      description: NVI Candidate context
    AllPeriodsReportResponse:
      type: object
      required:
        - type
        - id
        - periods
      properties:
        type:
          type: string
          enum: [AllPeriodsReport]
        id:
          type: string
          format: uri
        periods:
          type: array
          items:
            type: string
            pattern: '^\d{4}$'

    AllInstitutionsReportResponse:
      type: object
      required:
        - type
        - id
        - period
        - institutions
      properties:
        type:
          type: string
          enum: [AllInstitutionsReport]
        id:
          type: string
          format: uri
        period:
          type: string
          pattern: '^\d{4}$'
        institutions:
          type: array
          items:
            $ref: "#/components/schemas/InstitutionSummary"

    InstitutionReportResponse:
      type: object
      required:
        - type
        - id
        - period
        - institution
        - summary
        - units
      properties:
        type:
          type: string
          enum: [InstitutionReport]
        id:
          type: string
          format: uri
        period:
          type: string
          pattern: '^\d{4}$'
        institution:
          type: string
          format: uri
        summary:
          $ref: "#/components/schemas/ReportSummary"
        units:
          type: array
          items:
            $ref: "#/components/schemas/UnitReport"

    InstitutionSummary:
      type: object
      required:
        - type
        - id
        - name
        - sector
        - candidateCount
        - totalPoints
        - reportingStatus
        - publicationPointStatus
      properties:
        type:
          type: string
          enum: [InstitutionReport]
        id:
          type: string
          format: uri
        name:
          type: string
        sector:
          type: string
          enum: [UHI, HEALTH, INSTITUTE, OTHER]
        candidateCount:
          type: integer
          minimum: 0
        totalPoints:
          type: number
          format: double
          minimum: 0
        reportingStatus:
          $ref: "#/components/schemas/ReportingStatus"
        publicationPointStatus:
          $ref: "#/components/schemas/PublicationPointStatus"

    ReportSummary:
      type: object
      required:
        - candidateCount
        - totalPoints
        - reportingStatus
        - publicationPointStatus
      properties:
        candidateCount:
          type: integer
          minimum: 0
        totalPoints:
          type: number
          format: double
          minimum: 0
        reportingStatus:
          $ref: "#/components/schemas/ReportingStatus"
        publicationPointStatus:
          $ref: "#/components/schemas/PublicationPointStatus"

    UnitReport:
      type: object
      required:
        - type
        - id
        - candidateCount
        - totalPoints
        - reportingStatus
        - publicationPointStatus
      properties:
        type:
          type: string
          enum: [UnitReport]
        id:
          type: string
          format: uri
        candidateCount:
          type: integer
          minimum: 0
        totalPoints:
          type: number
          format: double
          minimum: 0
        reportingStatus:
          $ref: "#/components/schemas/ReportingStatus"
        publicationPointStatus:
          $ref: "#/components/schemas/PublicationPointStatus"

    ReportingStatus:
      type: object
      required:
        - type
        - dispute
        - pending
        - rejected
        - approved
      properties:
        type:
          type: string
          enum: [ReportingStatus]
        dispute:
          type: integer
          minimum: 0
        pending:
          type: integer
          minimum: 0
        rejected:
          type: integer
          minimum: 0
        approved:
          type: integer
          minimum: 0

    PublicationPointStatus:
      type: object
      required:
        - type
        - new
        - pending
        - approved
        - rejected
      properties:
        type:
          type: string
          enum: [PublicationPointStatus]
        new:
          type: integer
          minimum: 0
        pending:
          type: integer
          minimum: 0
        approved:
          type: integer
          minimum: 0
        rejected:
          type: integer
          minimum: 0
  securitySchemes:
    CognitoUserPool:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: cognito_user_pools
      x-amazon-apigateway-authorizer:
        type: cognito_user_pools
        providerARNs:
          - Ref: CognitoAuthorizerArn
