name: Build

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build:
    uses: BIBSYSDEV/nva-github-workflows/.github/workflows/java.yml@larsv/2025-12-08-add-spectral
    with:
      openapi_files: "docs/**.yaml"
    secrets:
      codacy_token: ${{ secrets.CODACY_PROJECT_TOKEN }}

#gaa