name: Build

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build:
    uses: BIBSYSDEV/nva-github-workflows/.github/workflows/java.yml@larsv/2025-12-08-add-spectral
    with:
      openapi_files: ""
    secrets:
      codacy_token: ${{ secrets.CODACY_PROJECT_TOKEN }}

  custom_lint:
    name: Run Spectral
    runs-on: ubuntu-latest
    steps:
      # Check out the repository
      - uses: actions/checkout@v3

      # Run Spectral
      - uses: stoplightio/spectral-action@latest
        with:
          file_glob: 'docs/*.yaml'