name: Build

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build:
    uses: BIBSYSDEV/nva-github-workflows/.github/workflows/java.yml@np-50415-add-openapi-linter
    with:
      openapi_files: "docs/*.yaml"
    secrets:
      codacy_token: ${{ secrets.CODACY_PROJECT_TOKEN }}
